.App {
  text-align: center;
}

.post {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
}

.postsList {
  list-style: none;
  padding: 20px;
}

.postsListItem + .postsListItem {
  margin-top: 12px;
}